SECRET_KEY="django-insecure-7b71g8_5r$juwjev0m$lnv@55$d#_%99my++7(38)z0#ul!wx6"
DEBUG=True
ALLOWED_HOSTS=*

# Database
DB_ENGINE=django.db.backends.postgresql
DB_NAME=postgres
DB_USER=postgres.owtituoodqtrofanypar 
DB_PASSWORD=nnqSupabase@1501
DB_HOST=aws-0-ap-southeast-1.pooler.supabase.com
DB_PORT=6543

# CORS Settings
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000

# JWT Settings
JWT_SECRET_KEY=your-jwt-secret-key
JWT_ACCESS_TOKEN_LIFETIME=60
JWT_REFRESH_TOKEN_LIFETIME=1440

# Redis
REDIS_URL=redis://localhost:6379/0

# Celery
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0